<div class="container admin-bar-top">
  <div class="admin-wrapper border-bottom">
    <div class="row">
      <div class="col-md-2">
        Welcome: <br/> {{userFirstName}}!
      </div>
    </div>
  </div>
</div>
