<div class="row">
    <div class="col-md-8 col-centered">
        <div class="checkout-wrapper border-around rad5 pad20">
            <div class="checkout-title title">
                <h1>Cancelled</h1>
            </div>
            <div class="checkout-description">
                Hello <strong>{{userFirstName}},</strong> <br>
                Your order has been cancelled.
            </div>
            <div class="buttons">
                <a href="/shopping-cart" class="btn btn-danger full-width pad10">Shopping Cart 🛒</a>
                <a href="/" class="btn btn-primary full-width pad10">Go to home</a>
            </div>
        </div>
    </div>
</div>
